<footer>
    <ul>
        <span id="tuts">Group</span>
        <li>Int Elligence</li>
        <li>CSE 3901</li>
        <li>10:20am - 11:15am</li>
    </ul>
 <ul>
    <span id="tuts">Tutorials</span>
    <li id="rubyNav"><a href="ruby.html">Ruby</a></li>
    <li id="jsNav"><a href="javascript.html">JavaScript</a></li>
    <li id="htmlNav"><a href="htmlcss.html">HTML/CSS</a></li>
  </ul>
    <ul>
        <span id="members">Group Members</span>
        <li>Braden Polly</li>
        <li>Tyler Rasor</li>
        <li>Morgan Gende</li>
        <li>Emma Rastatter</li>
        <li>Daniele Bellutta</li>
    </ul>
</footer>