   <nav>
  <ul>
	<li id="homeNav"><a href="index.html">Home</a></li>
    <li> | </li>
    <li id="rubyNav"><a href="ruby.html">Ruby</a></li>
    <li> | </li>
    <li id="jsNav"><a href="javascript.html">JavaScript</a></li>
    <li> | </li>
    <li id="htmlNav"><a href="htmlcss.html">HTML</a></li>
  </ul>
</nav>