<link rel="stylesheet" type="text/css" href="../build/stylesheets/index.css">

<!-- HEADER -->
<h1>
<span>Welcome to the Int Elligence Tutorial Series</span></h1>
<p>Learn the basics of web development through these tutorials, provided by Int Elligence</p>
<h2> Follow the links below to view each tutorial: </h2>
<table align="center">
<tr>
    <td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="htmlcss.html"><img height= "70px" src="../build/images/html_logo.png" alt="HTML Logo" id="htmlLogo" style="vertical-align:middle"></a></td>
    <td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="javascript.html"><img height= "200px" src="../build/images/javascript_logo.png" alt="Ruby Logo" id="rubyLogo"></a></td>
    <td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="ruby.html"><img height= "200px" src="../build/images/Ruby_logo.png" alt="Ruby Logo" id="rubyLogo"></a></td>
</tr>
<tr>
	<td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="htmlcss.html">HTML/CSS</a></td>
    <td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="javascript.html">JavaScript</a></td>
    <td style="align: center; padding-right: 25px; padding-left: 25px;"><a href="ruby.html">Ruby</a></td>
</tr>
</table>