<link rel="stylesheet" type="text/css" href="../build/stylesheets/index.css">

<!-- HEADER -->
<h1>
<span>Welcome to the Int Elligence Tutorial Series</span></h1>
<p style="align:center">Learn the basics of web development through these tutorials, provided by Int Elligence.</p>
<h2> Follow the links below to view each tutorial: </h2>

<a href="htmlcss.html">
    <figure>
        <img src="../build/images/html_logo.png" alt="HTML Logo" class="logosLarge">
        <figcaption style="color:white;">HTML/CSS</figcaption>
    </figure>
</a>
<a href="javascript.html">
    <figure>
        <img src="../build/images/javascript_logo.png" alt="JavaScript Logo" class="logosLarge">
        <figcaption style="color:white;">JavaScript</figcaption>
    </figure>
</a>
<a href="ruby.html">
    <figure>
        <img src="../build/images/Ruby_logo.png" alt="Ruby Logo" class="logosLarge">
        <figcaption style="color:white;">Ruby</figcaption>
    </figure>
</a>
