<link rel="stylesheet" type="text/css" href="../build/stylesheets/javascript.css">

<h1><img src="../build/images/javascript_logo.png" alt="JavaScript Logo" id="logos"><span>  JavaScript</span></h1>

<h2>Introduction</h2>
JavaScript is.......

<h2>Getting Started</h2>
To begin using JavaScript, create a basic HTML document.
Make sure to review the <a href="htmlcss.html">HTML/CSS tutorial</a> if you are unfamiliar with how to do this.
The following line of code is used to link the JavaScript file to the HTML file:
<p><pre class="code">
<span class="code cl">1</span> <script src="scripts/main.js"></script>
</pre></p>

It will be included before your closing </body> tag, as shown below.
<p><pre class="code">
<span class="code cl">1</span> <html>
<span class="code cl">2</span> <body>
<span class="code cl">3</span> <script src="scripts/main.js"></script>
<span class="code cl">4</span> </body>
<span class="code cl">5</span> </html>
</pre></p>

<h2>Next Step</h2>
