<link rel="stylesheet" type="text/css" href="../build/stylesheets/javascript.css">

<h1><img src="../build/images/javascript_logo.png" alt="JavaScript Logo" id="logos"><span>  JavaScript</span></h1>

<h2>Introduction</h2>
JavaScript is.......

<h2>Getting Started</h2>
To begin using JavaScript, create a basic HTML document.
Make sure to review the <a href="htmlcss.html">HTML/CSS tutorial</a> if you are unfamiliar with how to do this.
The following line of code is used to link the JavaScript file to the HTML file:
<p><pre class="code">
<span class="code cl">1</span> <script src="scripts/main.js"></script>
</pre></p>


It will be included before your closing </body> tag, as shown below.
<p><pre class="code">
<span class="code cl">1</span> <html>
<span class="code cl">2</span> <body>
<span class="code cl">3</span> <script src="scripts/main.js"></script>
<span class="code cl">4</span> </body>
<span class="code cl">5</span> </html>
</pre></p>

<h2>Next Step</h2>



<h3>Conditionals</h3>
<p>Just like with many other coding languages, you can use conditional statements in JavaScript. The most common conditional is an if...else statement:</p>

<p><pre class="code">
var color = 'purple';
if (color === 'purple'){
	alert('Yay! Purple is my favorite color!');
} else {
	alert('Boo! My favotite color is purple');
}
</pre></p>

<p>So in the above example, if color === purple evaluates to true, the code in the if statement will be executed. Otherwise, the code in the else statement would be executed.</p>

<h3>Functions</h3>
<p>Similar to other languages you may have used before, functions in JavaScript can be used to package code that you want to use again later.</p>

<p>For example, we can select the h1 element from our sample webpage using a function:</p>

<p><pre class="code">
var exampleVar = document.querySelector('h1');
</pre></p>

<p>You also saw an example of the alert function in a previous example:</p>

<p><pre class="code">
alert('hello world!');
</pre></p>

<p>These kinds of functions are already stored in your browser, so they are already available for anyone to use.</p>

<p>You can also write your own functions. Let's try it now!</p>

<p><pre class="code">
function add(a, b){
	var sum = a + b;
	return sum;
}
</pre></p>

<p>Now we can call the add function to add two numbers:</p>

<p><pre class="code">
add(5,23);
add(17,2);
add(0.5,2.3);
</pre></p>

<h3>Events</h3>



<h2>Now let's add to our website!</h2>
<h2>Conclusion</h2>


