<link rel="stylesheet" type="text/css" href="../build/stylesheets/ruby.css">


<h1>
<img src="../build/images/Ruby_logo.png" alt="Ruby Logo" id="rubyLogo"><span>  Ruby</span></h1>

Ruby is a programming languange built for the web. It was built to make reading and writing the language very natural and easy to understand.


<h2>Installation</h2>
<ul id="rubyInstallLinks">
	<li><a href="#MacInstallation">Mac</a></li>
	<li><a href="#WindowsInstallation">Windows</a></li>
	<li><a href="#LinuxInstallation">Ubuntu</a></li>
</ul>


<div id="MacInstallation">
<h3>Mac Installation</h3>
First, install Homebrew:
<p><pre class="code">
<span class="code cl">$</span> ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
</pre></p>

Next install Ruby-env:
<p><pre class="code">
<span class="code cl">$</span> brew install rbenv ruby-build
</pre></p>

Add rbenv to bash so that it loads every time you open a terminal
<p><pre class="code">
<span class="code cl">$</span> echo 'if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi' >> ~/.bash_profile
source ~/.bash_profile
</pre></p>

Install Ruby:
<p><pre class="code">
<span class="code cl">$</span> rbenv install 2.2.1
<span class="code cl">$</span> rbenv global 2.2.1
<span class="code cl">$</span> ruby -v
</pre></p>

</div>


<div id="WindowsInstallation">
<h3>Windows Installation</h3>
First, go to <a href="http://rubyinstaller.org/downloads/">RubyInstaller.org/downloads/</a>

Go under the heading "RubyInstallers" and click on the link titled "Ruby 2.2.1". This will download the Ruby EXE file. Run that file and follow the prompts.
</div>


<div id="LinuxInstallation">
<h3>Ubuntu Installation</h3>
<p><pre class="code">
<span class="code cl">$</span> sudo apt-get install ruby-full
</pre></p>

</div>



<h2>Using Ruby</h2>
